@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
	<form>
		<p><input type="text" placeholder="Marka" required/></p>
		<p><input type="number" placeholder="Model" required/></p>
		<p><input type="text" placeholder="Yakittipi" required/></p>
		<p><input type="text" placeholder="vitestipi" required/></p>
		<p><input type="number" placeholder="km" required/></p>
		<p><input type="text" placeholder="Renk" required/></p>
		<p><input type="text" placeholder="kimden" required/></p>
		<p><input type="submit" value="Kaydet" onclick="
		
	    "/></p>
	</form>
</div>
